<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="error"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="error"/>
    <logger name="org.springframework.security.web.csrf.CsrfFilter" level="error"/>
    <logger name="ru.javawebinar.topjava" level="error"/>


    <logger name="org.hibernate.SQL" level="error"/>

    <root level="error">
        <appender-ref ref="console"/>
    </root>
</configuration>